html,
body {
    height: 100%;
    padding-top: 25px;
}
body {
    background: black url("../images/blackBG.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h2{
	margin: 0;
	color: #666666; 
	padding-top: 90px;
	font-size: 52px;
	font-family: "trebuchet ms", sans-serif;
}
h1{
	font-family: sketch, courier, monospace;
	text-align:center;
	color: #f5f5f5;
	font-size: 72px;
	margin: 40px 0 20px 0;
}
p{
	color: #555;
	font-size: 1.5em;
	font-family: gunny, courier, monospace;
  margin-bottom: auto;
}

.modal-title{
  font-family: gunny, courier, monospace;
  padding-left: 25px;
  text-align: center;
}
.modal-body p{
  font-family: sample, courier, monospace;
}
.tourH1{
	margin-bottom: 25px;
}

#videoBody{
	text-align: center;
}
.img-responsive{
	margin: 0 auto;
}
.navbar-inverse .navbar-nav>li>a{
	
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>li>a:hover {
	color: #F3B02A;
}

.navbar-inverse .navbar-nav>.active>a:hover{
	color: #C99123;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: rgba(58, 58, 58, 1.0);
  padding-right: 5px;
  border: none;
}
.collapsing,
.collapse{
	text-align: right;
	padding-left: 50%;
}

.navbar-collapsing.in,
.navbar-collapse.in {
   overflow-y: visible;
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus{
	background-color:rgba(243, 176, 42, .8);	
	color: #333;
}
.dropdown-menu>.active>a:hover,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:#F3B02A;
    color: #333;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	color:#F3B02A;
}
.navbar-toggle{
  margin-right: 5px;
}
.container-fluid > p{
	margin-top: 15px;
}

.bs-example{
	margin: 20px;
}

.slider-size {
	height: 400px; /* This is your slider height */
}

.jumbotran {
	background: rgba(229, 229, 229, 0.894117647059);/*rgba(237, 237, 237, 0.894117647059);*/
}
.navbar-inverse{
	background: -webkit-linear-gradient(rgb(76, 76, 76), rgb(34, 34, 34));
	background: -moz-linear-gradient(rgb(76, 76, 76), rgb(34, 34, 34));
	background: -o-linear-gradient(rgb(76, 76, 76), rgb(34, 34, 34));
	background: -ms-linear-gradient(rgb(76, 76, 76), rgb(34, 34, 34));
	background: linear-gradient(rgb(76, 76, 76), rgb(34, 34, 34));
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#blogBody{ 
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.tooltip > .tooltip-inner {
  color: #F3B02A;
}
/*notebook paper list*/
.body {
  background-color: #f5f5f5;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.entry-title{
	font-family: sketch, courier, monospace;
	padding-left: 50px;
}

.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 100%;
  font-family: gunny, courier, monospace;
  border: 1px solid #dedede;
}

.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}

.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.duckFooter li:hover{
	background: none;	
}


.linesTwo {
  position: relative;
  z-index: 2;
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 590px;
  margin-left: 40px;
}
.linesTour {  /*Weird Error with lines code?!?!?!*/
  position: relative;
  z-index: 1;
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 470px;
  margin-left: 40px;
}​

/*stacked paper effect*/
.hfeed {
  position: relative;
}
 
article.post {
   position:relative;
   margin: 0 0 2em 0;
   background: #f5f5f5;
   padding: 0px;
   border: 1px solid rgba(0, 0, 0, 0.150);
 
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
}

 .imagePost{
 	padding: 5px !important;
 	text-align: center;
 }

article.post:before {
   z-index: -1;
   position: absolute;
   top: -2px;
   left: 0;
   content: '';
   width: 100%;
   height: 100%;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.150);
 
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
 
   -webkit-transform: rotate(1.5deg);
   -moz-transform: rotate(1.5deg);
   -o-transform: rotate(1.5deg);
   -ms-transform: rotate(1.5deg);
   transform: rotate(1.5deg);
}

article.post:after {
   z-index: -2;
   position: absolute;
   top: 1px;
   left: -2px;
   content: '';
   width: 100%;
   height: 100%;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.150);
 
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
 
   -webkit-transform: rotate(358.5deg);
   -moz-transform: rotate(358.5deg);
   -o-transform: rotate(358.5deg);
   -ms-transform: rotate(358.5deg);
   transform: rotate(358.5deg);
}

.align{
	text-align: center;
}

.albumRow2{
	margin-top: 30px;
}
.column > img{
	padding: 10px;x
}
.albumListCol1{
	padding-top: 70px;
}
.albumListCol2{
	padding-top: 0px;
}
/*Popover manipulation*/
.popover.right{
	margin-left: -260px;
}

.popover-content{
	padding: 5px 5px 2px 5px;
}

.tourList{
	background: url('../images/punkDuck.png') no-repeat bottom right;
}

.tourContainer{
	max-width: 750px;
}

.pencil{
	position: absolute;
	top: -45px;
	right: -115px;
}

a.ticketLink {
  color: #555;
 }
a.ticketLink:hover {
  text-decoration: none;
 }

audio{
	width:250px;
}

/*contact style*/

.field {
  margin: 5px 50px;
}

label {
  display: block;
  color: #999999;
}

input {
  font-family: sample,Helvetica,Arial,sans-serif;
  background-color: #f5f5f5;
  width: 99%;
  padding: 5px 0.5em;
  font-size: 1em;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
}

textarea {
  font-family: sample,Helvetica,Arial,sans-serif;
  background-color: #f5f5f5;
  width: 99%;
  height: 200px;
  padding: 5px 0.5em;
  font-size: 1em;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 100px;
  text-align: center;
  font-family: sample,Helvetica,Arial,sans-serif;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #d6e9c6;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#submitField{
  display: inline-block;
}
.modalClose:hover{
  color: rgb(243, 176, 42);
}
.modalClose{
  background: -webkit-linear-gradient(rgb(76, 76, 76), rgb(34, 34, 34));
  background: -moz-linear-gradient(rgb(76, 76, 76), rgb(34, 34, 34));
  background: -o-linear-gradient(rgb(76, 76, 76), rgb(34, 34, 34));
  background: -ms-linear-gradient(rgb(76, 76, 76), rgb(34, 34, 34));
  background: linear-gradient(rgb(76, 76, 76), rgb(34, 34, 34));;
  color: rgb(243, 176, 42);
}
.modalSend{
  background: -webkit-linear-gradient(rgb(243, 176, 42), rgb(201, 134, 0));
  background: -moz-linear-gradient(rgb(243, 176, 42), rgb(201, 134, 0));
  background: -o-linear-gradient(rgb(243, 176, 42), rgb(201, 134, 0));
  background: -ms-linear-gradient(rgb(243, 176, 42), rgb(201, 134, 0));
  background: linear-gradient(rgb(243, 176, 42), rgb(201, 134, 0));;
  color: rgb(34, 34, 34);
}
.modal-body {
  padding: 0 15px;
}
.modal-footer {
  text-align: center;
  padding: 30px 0px 0px 0px;
}
#myModal ul{
  margin-bottom: 0px;
}

div#cce56ed5fefa315a1ed9951ede636da30{
  display: none;
}

@media screen and (max-width: 960px) {
	.pencil{
		-webkit-transform: scale(.8,.8); /* Chrome, Safari, Opera */
    	transform: scale(.8,.8);
	}
}
@media screen and (max-width: 878px) {
	.pencil{
		top: -45px;
		right: -95px;
	}
}
@media screen and (max-width: 840px) {
	.pencil{
		top: -45px;
		right: -65px;
	}
}
@media screen and (max-width: 700px) {
	.pencil{
		display: none;
	}
}
@media screen and (max-width: 992px) {
	.albumListCol1{
		padding-top: 20px;
	}
	.albumListCol2{
		padding-top: 20px;
	}
}

@media screen and (max-width: 992px) and (min-width: 712px){
    .img-responsive {
        display: inline-block;
    }
}

@media screen and (max-width: 711px) {
    .imgDisp {
        display: none;
    }
}

@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
@media screen and (max-width: 693px) {
  #blogBody{ 
    width: 90%;
  }
}
@media screen and (max-width: 321px) {
  button{ 
    width: 75px;
  }
  .field {
    margin: 5px 10px;
  }
  .cont{
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .cont{
    display: none;
  }
}
@font-face {
 font-family:font-name;
 src: url(../fonts);
} 
@font-face {
 font-family:lexo;
 src: url(../fonts/lexo.eot); /* EOT file for IE */
}

@font-face {
 font-family:lexo;
 src: url(../fonts/lexo.ttf); /* TTF file for CSS3 browsers */
}

@font-face {
 font-family:gunny;
 src: url(../fonts/gnyrwn971.eot); /* EOT file for IE */
}

@font-face {
 font-family:gunny;
 src: url(../fonts/gnyrwn971.ttf); /* TTF file for CSS3 browsers */
}

@font-face {
 font-family:sketch;
 src: url(../fonts/Sketch_Block.eot); /* EOT file for IE */
}

@font-face {
 font-family:sketch;
 src: url(../fonts/Sketch_Block.ttf); /* TTF file for CSS3 browsers */
}
.lines {
  position: relative;
  z-index: 1;
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 434px;
  margin-left: 40px;
}​